//- To use mixins include the mixins file below
include mixins/mixins

extends includes/layout

block content
	.main

		p.center Hello World

	//- This is where you include your footer
	include includes/_footer/_footer