doctype html
html(lang="en")
	head
		title Website title
		include _head/_meta.html
		include _head/_favicons.html
		// Stylesheet links
		link(rel="stylesheet", href="public/css/style.css")
	body
		//- Uncomment the include line below if you need Browsehappy prompt for older browser
		//- include _head/_browsehappy.html

		//- This is where you include your navigation
		//- include nav

		//- This is where you block content starts
		block content
	